# Mini Project for DSE200x

*This notebook contains some exploratory data analysis. The purpose behind it is to load up a dataset (soccer for now) and try to come up with a question to answer using the data. Yes, that seems backwards. But this isn't exactly crystal clear.*

## Basic setup

**Import modules**

Obviously, this is step one.

In [2]:
import sqlite3
import pandas as pd
import numpy as np

**Read the data.**

The soccer dataset is from a database. So, we'll be using the sqlite library to read it.

In [3]:
c = sqlite3.connect('../Week-1-Intro-new/database.sqlite')
df = pd.read_sql_query("SELECT * FROM Player_Attributes", c)
type(df)

pandas.core.frame.DataFrame

## Exploratory data analysis
**Now some basic exploration of the data.**

In [4]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [5]:
# Get the total ratings of the players
ratings = df[['player_api_id', 'overall_rating']].groupby('player_api_id').sum()

In [6]:
# And now sort by overall_rating to find the players that have the smallest and largest overall rating.
# ratings.sort_values(by='overall_rating')

## Possible questions.
* One possible question could be "*Which player has the greatest improvement in overall rating?*"
* Another could be "*In which year (or other time period) did the (largest number of) players show the greatest improvement in overall rating?*"

In [114]:
# Get the total ratings of the players by date
ratings = df[['player_api_id', 'date', 'overall_rating']].groupby(['player_api_id', 'date']).sum()
# print(ratings)
# print(type(ratings))

print(ratings.index[0][0])

d = {}
for n, r in ratings.index:
    mini = ratings.loc[n]
    d[n] = mini.iloc[-1] - mini.iloc[0]
    
# print(d)

2625

In [115]:
ans = pd.DataFrame(d)
# type(ans)
# ans.head()

ans = ans.transpose()
# ans.head()

max_player = ans.loc[ans['overall_rating'].idxmax()]
print(max_player)
# print(df.head())

overall_rating    42.0
Name: 129944, dtype: float64